/* div, span, p, a, ul, li {
    font: inherit;
} */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    font-style: normal;
    line-height: 1.5;
}

section {
    background-color: #eeeeee;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
li:hover>a,
#menu-active>a {
    color: #18d26e
}
li:hover>a,
#menu-active1>a {
    color: #18d26e
}

section {
    position: relative;
    word-wrap: break-word;
}

p {
    padding: 10px 0;
    margin-bottom: 15px;
}

/* p, li {
    letter-spacing: 0.5px;
    line-height: 1.7;
} */

ul {
    margin-bottom: 0;
    margin-top: 0;
}

p {
    margin-top: 0;
}

a {
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

a, a:hover {
    text-decoration: none;
}

html, body {
    height: auto;
    min-height: 100vh;
}

.btn {
    font-weight: 400;
    border-width: 2px;
    border-style: solid;
    font-style: normal;
    letter-spacing: 2px;
    margin: .4rem .5rem;
    white-space: normal;
    -webkit-transition: all .3s ease-in-out, -webkit-box-shadow 2s ease-in-out;
    transition: all .3s ease-in-out, -webkit-box-shadow 2s ease-in-out;
    -o-transition: all .3s ease-in-out, box-shadow 2s ease-in-out;
    transition: all .3s ease-in-out, box-shadow 2s ease-in-out;
    transition: all .3s ease-in-out, box-shadow 2s ease-in-out, -webkit-box-shadow 2s ease-in-out;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    word-break: break-word;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -webkit-inline-flex;
}

@media (max-width: 767px) {
    .mbr-section-btn {
        text-align: center;
    }
}

.mbr-bold {
    font-weight: 700;
}

.mbr-section-btn {
    margin-left: -.25rem;
    margin-right: -.25rem;
    font-size: 0;
}

nav .mbr-section-btn {
    margin-left: 0rem;
    margin-right: 0rem;
}

.btn .mbr-iconfont, .btn.btn-sm .mbr-iconfont {
    cursor: pointer;
    margin-right: 0.5rem;
}

.mobirise-spinner {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 10%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    z-index: 4;
}

.mobirise-spinner em {
    width: 24px;
    height: 24px;
    background: #3ac;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: slide 1s infinite;
}

.mobirise-spinner em:nth-child(1) {
    -webkit-animation-delay: 0.1s;
}

.mobirise-spinner em:nth-child(2) {
    -webkit-animation-delay: 0.2s;
}

.mobirise-spinner em:nth-child(3) {
    -webkit-animation-delay: 0.3s;
}

@-moz-keyframes slide {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        opacity: 0.3;
        -webkit-transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes slide {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        opacity: 0.3;
        -webkit-transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-o-keyframes slide {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        opacity: 0.3;
        -webkit-transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes slide {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        opacity: 0.3;
        -webkit-transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

amp-sidebar {
    background: transparent;
}

/* body {
    font-family: Roboto;
} */



.display-7 {
    /* font-family: 'Rubik', sans-serif; */
    font-size: 1.1rem;
}

.display-7 .mbr-iconfont-btn {
    font-size: 1.1rem;
    width: 1.1rem;
}

@media (max-width: 768px) {
    .display-5 {
        font-size: 1.44rem;
        font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
    }
}

/* .btn {
    padding: 1rem 2rem;
    border-radius: 0px;
} */

.btn-sm {
    border-width: 1px;
    padding: 0.6rem 0.8rem;
    border-radius: 0px;
}

.btn-primary, .btn-primary:active {
    background-color: #4ea2e3;
    border-color: #4ea2e3;
    color: black;
    font-weight: 500;
}

.btn-primary:hover, .btn-primary:focus {
    color: #ffffff;
    background-color: #1f7dc5;
    border-color: #1f7dc5;
}

.btn-primary:disabled {
    color: #ffffff;
    background-color: #1f7dc5;
    border-color: #1f7dc5;
}

.text-white {
    color: #ffffff;
}

/* a.text-white:hover, a.text-white:focus {
    color: #b3b3b3;
} */

.mbr-section-btn a.btn:not(.btn-form) {
    border-radius: 100px;
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: .3s, .3s, .3s, .8s;
    transition-timing-function: ease-in-out;
}

.mbr-section-btn a.btn:not(.btn-form):hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

a, a:hover {
    color: #4ea2e3;
}

.mobirise-spinner em:nth-child(1) {
    background: #4ea2e3;
}

.mobirise-spinner em:nth-child(2) {
    background: #4addff;
}

.mobirise-spinner em:nth-child(3) {
    background: #0dcd7b;
}

.cid-rRZihwoWl9 {
    min-height: 80px;
}

.cid-rRZihwoWl9 .brand-name {
    color: #ffffff;
    margin: 0;
}

.cid-rRZihwoWl9 .nav-item:focus, .cid-rRZihwoWl9 .nav-link:focus {
    outline: none;
}

.cid-rRZihwoWl9 .navbar-nav {
    list-style-type: none;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
}

.cid-rRZihwoWl9 .navbar-nav .nav-link {
    margin: .667em 1em;
    font-weight: normal;
}

@media (max-width: 991px) {
    .cid-rRZihwoWl9 ul.navbar-nav {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .cid-rRZihwoWl9 ul.navbar-nav li {
        margin: auto;
    }
}

.cid-rRZihwoWl9 .navbar {
    z-index: 100;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    min-height: 80px;
    transition: all .3s;
    background: #232323;
}

.cid-rRZihwoWl9 .navbar .navbar-collapse {
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    z-index: 1;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-align-items: center;
    align-items: center;
}

@media (max-width: 1210px) {
    .cid-rRZihwoWl9 .navbar .navbar-collapse {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100vh;
        background: #232323;
        padding: 1rem 2rem 1rem 2rem;
    }
    .cid-rRZihwoWl9 .navbar .brand {
        -webkit-flex-shrink: initial;
        flex-shrink: initial;
        word-break: break-word;
    }
}

.cid-rRZihwoWl9 .brand {
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 0;
    padding: 0;
    transition: all .3s;
    word-break: break-word;
    z-index: 1;
}

.cid-rRZihwoWl9 .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.cid-rRZihwoWl9 ul.navbar-nav {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cid-rRZihwoWl9 .navbar-buttons {
    text-align: center;
}

.cid-rRZihwoWl9 .navbar-dropdown {
    padding: .5rem 1rem;
    position: fixed;
}

.cid-rRZihwoWl9 a.nav-link {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.cid-rRZihwoWl9 .ampstart-btn {
    display: flex;
    -webkit-align-self: center;
    align-self: center;
}

@media (min-width: 1210px) {
    .cid-rRZihwoWl9 .ampstart-btn {
        display: none;
    }
}

.cid-rRZihwoWl9 .ampstart-btn.hamburger {
    position: relative;
    right: 20px;
    margin-left: auto;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.cid-rRZihwoWl9 .ampstart-btn.hamburger:focus {
    outline: none;
}

.cid-rRZihwoWl9 .ampstart-btn.hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #4ea2e3;
}

.cid-rRZihwoWl9 .ampstart-btn.hamburger span:nth-child(1) {
    top: 0;
    transition: all .2s;
}

.cid-rRZihwoWl9 .ampstart-btn.hamburger span:nth-child(2) {
    top: 8px;
    transition: all .15s;
}

.cid-rRZihwoWl9 .ampstart-btn.hamburger span:nth-child(3) {
    top: 8px;
    transition: all .15s;
}

.cid-rRZihwoWl9 .ampstart-btn.hamburger span:nth-child(4) {
    top: 16px;
    transition: all .2s;
}

.cid-rRZihwoWl9 .builder-sidebar {
    background-color: #232323;
    position: relative;
    min-height: 100vh;
    z-index: 1030;
    padding: 1rem 2rem;
    max-width: 20rem;
}

.cid-rRZihwoWl9 .close-sidebar {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.cid-rRZihwoWl9 .close-sidebar:focus {
    outline: 2px auto #4ea2e3;
}

.cid-rRZihwoWl9 .close-sidebar span {
    position: absolute;
    left: 0;
    top: 14px;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #4ea2e3;
}

.cid-rRZihwoWl9 .close-sidebar span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cid-rRZihwoWl9 .close-sidebar span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cid-rRZihwoWl9 amp-img {
    margin-right: 1rem;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 45px;
    width: 45px;
}

@media (max-width: 767px) {
    .cid-rRZihwoWl9 amp-img {
        max-height: 35px;
        max-width: 35px;
    }
}

[class*="-iconfont"] {
    display: inline-flex;
}